@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-glow {
  text-shadow: 0 0 2px #f04b04, 0 0 20px #fff, 0 0 42px rgb(249, 233, 5), 0 0 82px rgb(144, 242, 6),0 0 92px rgb(231, 209, 8);
color: white;

 	
 }
 .maincontainer {
    background-color: black;
  
 }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
